{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>{{post.title}}</h1>
					<h2 class="subheading">{{post.subtitle}}</h2>
					<span class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{post.body|safe()}}
          </p>
           <hr>
           <div class="clearfix">
          {% if current_user.is_authenticated and current_user.id == post.author.id %}
            <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=post.id) }}">Edit Post</a>
          {% endif %}
        </div>
          </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Show Post Comment -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for comment in post.comments %}
          <p class="commentText">
            {{comment.text|safe()}}
          </p>
					<p class="sub-text">Commented by
            <a href="#">{{comment.author.name}}</a>
          </p>
          <hr>
          {% endfor %}
      </div>
    </div>
  </div>

  <hr>

  <!-- Add Post Comment -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        {{ ckeditor.config() }}
        <form method='post' novalidate=True action="{{ url_for('add_comment', post_id=post.id) }}">
          {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
        </form>
      </div>
    </div>
  </div>
{% include "footer.html" %}